# Literate Programming
* It is a combination of both coding and documentation
- Order list
    1. Apssdc
    2. Cbit
    3. Svce
- Unorder list
    - ap
        * kadapa
    - ts
    - tn
    
muneiah.t@apssdc.in

www.cbit.edu.in

<img src="cbitpdtr.jpg">

In [1]:
print("Hello World")

Hello World

# Variables in Python

In [ ]:
#-->Single Line Commenting
#-->Multiline Commenting """ """
''' this is also
      multiline Commenting '''

In [5]:
#int a=10 #This in the C-lang/java/cPP
x=4# In Python Integer var declaration
type(x)
print("the value of x is ",x)

the value of x is  4

In [10]:
b=3.4
type(b)
#floor value is =3
#Ceil value is =4
s="cbit"
s
type(s)
#multi varible declaration
a,b,c=3,5,8
b
print(a+c)

11

In [ ]:
#Data Types in py
    """int
    float
    string
    set
    list
    tuple
    dict"""

In [15]:
n=int(input("Enter the N value "))
#type(n)
result=n+4
print(result)

Enter the N value 4
8

In [16]:
#Task 1: 
#Perform the arthametic opatations 
a=int(input("Enter the First value: "))
b=int(input("Enter the Second value: "))

print("addition of ",a,"and ",b,"is ",a+b)a

Enter the First value: 10
Enter the Second value: 3
addition of  10 and  3 is  13

In [20]:
a=input("Enter First Value")
a=int(a)
b=input("Enter Second Value")
b=int(b)
print(type(a),type(b))
print("Addition of ",a,"and ",b,"is ",a+b)

Enter First Value10
Enter Second Value20
<class 'int'> <class 'int'>
Addition of  10 and  20 is  30

In [21]:
person_name=str(input("Plese enter your name : "))
print("Hello ..!\n ",person_name,"Welcome to python world")

Plese enter your name : vijay
Hello ..!
  vijay Welcome to python world

In [24]:
#Task-2
#f(x)=x+2x+x(7+x)+20
# input=10
#output:?
Result-->f(10)=?

SyntaxError: invalid syntax (<ipython-input-24-b84bd56e1310>, line 5)

In [29]:
#task-2
#x=10
#f(x)=x+2x+x(7+x)+20
# f(10)=10+2(10)+(10)(7+(10))+20
x=int(input("Enter Your X value:"))
expre=x+2*x+x*(7+x)+20
print("f(",x,")=",expre)

Enter Your X value:30
f( 30 )= 1220

In [31]:
# # Task -3
# x=2
# y=3
# f(x,y)=xy+x(2y)+3x+4xy+30
# input:
#     2 3
# output:
#       f(x,y)=?
#       f(2,3)=78
#       f(3,5)=144
x=int(input())
y=int(input())
expre=x*y+x*(2*y)+3*x+4*x*y+30
print("f(",x,y,")=",expre)

3
5
f( 3 5 )= 144

In [32]:
#Power 
2**3

8

In [33]:
#3.4
#-3
a=3.4

import math

math.floor(a)

3

In [39]:
x=10
y=2
x//y

5

In [44]:
#Conditional Stms
    #1.if
    #syntax
#     if(condi){
        #..Stements      #other launges 
#     }
a=4
b=8
# if condition:
#     ...stmts
if a<b:
    print("Yes")

In [45]:
#2.if ..else
#syntax
#     if condition:
#         ...stms
#     else:
#         ...stms
if a>b:
    print("Yes")
else:
    print("No")

No

In [48]:
# 3.if..elif..else
# 2
# 3
# 5
a=9
b=3
c=5
d=7
if(a>b):
    if(a>c):
        if(a>d):b
            print("A is big")
elif(b>c):
    if(b>d):
        print("b is big")
elif(c>d):
        print("c is Big")
else:
    print("D is big")

A is big

Task-4
input:2019
output:not a leap year
input:1900
output:Yes It is leap year
### (year%400 or (year%100!=0) and (year%4==0))


Task-5
input:
    l=180
    w=200
    h=600
output:crop it
input:
    l=180
    w=180
    h=180
output:Accepted
input:
    l=180
    w=120
    h=500
output:Not Accepted

In [52]:
year=int(input(" "))
if (year%400==0 or (year%100!=0) and (year%4==0)):
    print("Yes")
else:
    print("No")

 1900
No

In [56]:
# Task-5
# input:
#     l=180
#     w=200
#     h=600
# output:crop it
# input:
#     l=180
#     w=180
#     h=180
# output:Accepted
# input:
#     l=180
#     w=120
#     h=500
# output:Not Accepted
l=int(input())
w=int(input())
h=int(input())
if(l<=w and l<=h):
    if(w==h):
        print("Accepted")
    else:
        print("Crop it")
else:
    print("not Accepted")

180
180
180
Accepted

In [60]:
#Control Statements #iteration
    # For 
    #While
# for(datetype;Condition;increment/decre){
#     --Stms
# }
    # for var member/range:
    #     ...Stms
    #     ...incre/decre..
#Generate the first 10 natural numbers sum
#1,2,3,,...10
for i in range(1,10+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [65]:
#even number
count=0
for evenNum in range(0,100+1,2):
    count=count+1
    print(evenNum,end=" ")
print("\nTotal even numbers are :",count)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
Total even numbers are : 51

In [71]:
c=0
for i in range(0,101):
    if i%2==0:
        c+=1
        print(i,end=" ")
print("\ntotal ",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
total  51

### Task 6:
* Generate the all yeap years in range of 2000 to 2020

In [80]:
st=int(input())
en=int(input())
c=0
for year in range(st,en+1):
    if (year%400==0 or (year%100!=0) and (year%4==0)):
        c=c+1
        print(year,end=" ")
print("\n Total years are :",c)

1900
2020
1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020
 Total years are : 30

In [90]:
# input:20
# output:1,2,3,4,5 ..........20
#     sum=?
n=int(input())
n_sum=0
e_sum=0
o_sum=0
for i in range(1,n+1):#--->start-1,end=n+1-->20
    print(i,end=",")
    n_sum=n_sum+i#0+1-->1
    if(i%2!=1):# i%2==0
        e_sum=e_sum+i
    if(i%2!=0):#i%2==1
        o_sum=o_sum+i
print("\nNatural numbers Sum=",n_sum)
print("Even Numbers sum=",e_sum)
print("Odd Numbers Sum=",o_sum)
if(n_sum==e_sum+o_sum):
    print("You Did a Grate Job")
else:
    print("You are the looser")

20
1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
Natural numbers Sum= 210
Even Numbers sum= 110
Odd Numbers Sum= 100
You Done a Grate Job

In [ ]:
Task-6
input:10
Explanation:1+10  2+9  3+8 4+7 ......
output:  11 11   11    11

Task:7
input:10
Explanation:1+2^2 2+3^2 3+4^2 ......
output: 5  11 19 ...

Task:8
input:10
Explanation: 10+(1^2+1) 9+(2^2+1) 8+(3^2)+1 7+(4^2)+1
output:12 14 18 24 28 ....

In [2]:
t=int(input("Enter the input value: "))
i=1
for i in range(i,t+1):
    result=i+t
    t=t-1
    print(result,end=" ")

Enter the input value: 20
21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21

In [11]:
n=int(input())
tem=1
for i in range(n,0,-1):
    print(i+tem,end=",")
    tem=tem+1 #temp+=1

20
21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,

In [13]:
c=1
n=int(input())
for i in range(2,n+1):
    expre=c+i**2
    c=c+1
    print(expre,end=" ")

10
5 11 19 29 41 55 71 89 109

In [19]:
n=int(input())
n_sum=0
for i in range(1,n+1):
    n_sum=n_sum+(i+(i+1)**2)
    print(i,"--->",i,"+","(",i+1,"**2)=",i+(i+1)**2)
print("sum=",n_sum)

10
1 ---> 1 + ( 2 **2)= 5
2 ---> 2 + ( 3 **2)= 11
3 ---> 3 + ( 4 **2)= 19
4 ---> 4 + ( 5 **2)= 29
5 ---> 5 + ( 6 **2)= 41
6 ---> 6 + ( 7 **2)= 55
7 ---> 7 + ( 8 **2)= 71
8 ---> 8 + ( 9 **2)= 89
9 ---> 9 + ( 10 **2)= 109
10 ---> 10 + ( 11 **2)= 131
sum= 560

In [20]:
n=int(input())
t=1
for i in range(n,0,-1):
    expre=i+(t**2)+1
    print(expre,end=" ")
    t+=1

10
12 14 18 24 32 42 54 68 84 102